

<div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Panel title</h3>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-stripped">
            <thead>
              <tr>
                  <th>code</th>
                <th>libelle</th>
                <th>Prix unitaire</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of data">
                <td>{{p.code}}</td>
                <td>{{p.libelle}}</td>
                <td>{{p.prixUnitaire}}</td>

              </tr>
            </tbody>
          </table>
    </div>
</div>




